@charset "UTF-8";
/* CSS Document */

*, *:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {	font-family: 'Open Sans', sans-serif;
}

body, h1, h2, nav, header, ul, li {
	margin: 0;
	padding: 0;
}

header h1 {
	float: left;
}

#home {
  background: #f8e514 url("http://i.imgur.com/G4zOcCO.jpg") no-repeat center;
  background-height: 100%;
  min-height:780px;
}

#home .wrapper {
  position: relative;
}

nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
	display: inline;
	float: right;
	text-justify:distribute;
}

nav a{
	display: block;
    width: auto;
	margin: 10px;
	}

.navbox {
	background-color: white;
	position:fixed;
	width: 70%;
	float:left;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	padding: 20px;
	padding-right: 30px;
	padding-left: 30px;
	box-shadow:#666;
	}

#home {
	background-color: #f8e514;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}


.introbox {
	position: relative;
	float: left;
	margin-left: 20%;
	margin-top: 200px;
}





.column-features {
	background-color:white;
	width:33%;
	float:left;
	
	padding-right: 30px;
}

#gallery {
	clear: both;
	background: gray;
	overflow: auto;
}

.column-gallery {
	background-color: blue;
	width: 20%;
	float: left;
}
.wrapper img {
	width: 509px;
	height: 602px;
	float: right;
	margin-top: 200px;
}
	
.column-gallery img {
	width: 100%;
}

.column-features img {
	width: 100%;
}

.clearfix {
	clear: both;
}

#features h2, #features p, #gallery h2, #gallery p, #about h2, #people h2{
	text-align: center;
}

h3 {margin:0;}

.featurelist {
  width:33%; /*not necessary when in columns*/
  padding:20px;
  overflow:auto;
  cursor:default;
}

.column-details:hover {
  background:#fbfbe9;
}

.featurelist span {
  float:left;
  font-size:30px;
  line-height:30px;
  width:15%;
  margin-top:0;
}

.featurelist {
  width:85%;
  float:left;
}
