@charset "UTF-8";
/* CSS Document */

*, *:before, *:after{
	font-family: 'Open Sans', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, h1, h2, nav, header, ul, li {
	margin: 0;
	padding: 0;
}

header h1 {
	float: left;
}

nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
	display: inline;
	float: right;
	text-justify:distribute;
	}

.navbox {
	background-color: white;
	position:static;
	width: 70%;
	float:left;
	margin-left: 15%;
	margin-right: 15%;
	padding: 25px;
	padding-right: 30px;
	padding-left: 30px;
	box-shadow:#666;
	}

#home {
	background-color: #f8e514;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.column-features {
	background-color:white;
	width:33%;
	float:left;
	
	padding-right: 30px;
}

#gallery {
	clear: both;
	background: gray;
	overflow: auto;
}

.column-gallery {
	background-color: blue;
	width: 20%;
	float: left;
}

.column-gallery img {
	width: 100%;
}

.column-features img {
	width: 100%;
}

.clearfix {
	clear: both;
